:root {
    --primary-color: rgb(77,93,87);
    --secondary-color: rgb(238,207,73);
    --gray1-color: rgb(51,51,51);
    --gray2-color: rgb(102,102,102);
    --gray3-color: rgb(153,153,153);
    --gray4-color: rgb(204,204,204);
    --background-theme-color: rgb(241,229,216);
    --background-body: rgb(237,239,238);
}

*,*::before,*::after { 
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 100vh;

    background-color: var(--background-body);
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
    
    margin: 1%;
}
/* ----------- Header ----------- */
header {
    display: flex;
    justify-content: center;
}
header > img {
    flex: 1;
    max-width: 350px;

    width: 100%;
    height: 100%;
}
/* ----------- Nav ----------- */
nav {
    background-color: var(--gray1-color);
    border-radius: 25px;
    margin: 20px;
}
nav ul {
    display: flex;
    flex-flow: wrap;
    justify-content:center;

    list-style: none;
    text-align: center;
}
nav li {
    flex:1;
    max-width: 5em;
    margin: 1em;
}
nav a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}
nav a:hover{
    color: var(--secondary-color);
}
/* ----------- Main ----------- */
main {
    flex-grow: 1;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content:center;
}
.flex-item-row1  {
    flex: 1;
    border-radius: 25px;

    margin: 15px;
    padding: 1em;
    max-width: calc(1200px + 40px);
    
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    text-align: left;

    color: white;
    text-shadow: 2px 2px 4px black;

    background-image: url(assets/images/home-image.jpg);
    background-size: cover;
    background-position: center;
}
.flex-item-row2  {
    flex: 1;
    border-radius: 25px;

    margin: 10px;
    padding: 1.5em;

    max-width: 400px;

    font-weight: normal;
    font-size: 12px;
    line-height: 2em;
    text-align: left;

    text-shadow: 2px 2px 4px white;
    background: var(--background-theme-color);
}
/* ----------- Footer ----------- */
footer {
    flex-shrink: 0;
    display: flex;
    background-color: clear;
}
footer div {
    flex: 1;
    background-color: clear;
}
footer img {
    height: auto;
    width: 50px;

    display: block;
    margin-right: auto;
}
.footer-copyright {
   text-align: right;
}
/* ----------- Etc ----------- */
/* ------ Header Fonts ------*/
h1 {
    font-size: 2em;

}
h2 {
    font-size: 2em;
    line-height: 1.5em;
}
/* ------ List Style ------*/
li {
    list-style: none;
}
/* ------ Divider ------ */
.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
  }
/* ----- Images ----- */
.image-container {
    width: auto;
    height: auto;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}